
/* CSS spécifique du mobile */
@media screen and (max-width:768px) {
    .cardtitle {
        width: auto;
    }
}
/* CSS spécifique du desktop */
@media screen and (min-width:768px) {
    .cardtitle {
        width: 300px;
    }
    .menutitre {
        height: 450px;
    }
}
/* CSS En general */
.bgcolor{
    background-color: chocolate;
}
.bgcolor2 {
    background-color:#1ED269;
}
.bgcolor3 {
    background-color:#691ED2;
}
.titre {
    height: 150px;
    align-items: center;
}

.gradientbg {
    background: rgb(28,202,216);
    background: linear-gradient(90deg, rgba(28,202,216,1) 0%, rgba(244,91,105,1) 50%, rgba(7,79,87,1) 100%); 
}